* {
    padding: 0;
    margin: 0;
    color: aliceblue;
}
.navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: orange;
}
#love{
    color: orange;
    font: 25px;
    align-items: center;
}
a{
    margin-right: 200px;
    align-items: center;
}