
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Slabo+27px&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  
}

  

h1{
        color :gold;
        text-align: center;
        margin-top: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: -2px 1px 1px white;
        



}
h2{
  color: gold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
pre{
    color : pink;
}
video{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        object-fit: cover;
        z-index: -1;
}


a{
    color : rgb(236, 237, 233);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
a:hover{
  color: gold;
  
}

pre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    color: white;
    padding: 20px 5%;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    margin-top: 25px;




}
p{
    text-align: center;
    margin-top: 10px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(240, 244, 245, 0.8);
    font-size: 5rem;
    margin-top: 50px;
}
button{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 7%;
    font-size: 2rem;

    border: 1px solid white;
    padding: 12px 50px;
    color:white;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 55%;
    
    
    

}

a1{
    color: antiquewhite;
}

.bottom-left-text { 
    position: absolute; 
     bottom: 0; 
      left: 0; 
       background-color: rgba(0, 0, 0, 0); 
        padding: 30px; 
         font-size: 20px;
         color: aliceblue;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.love{
     position:absolute; 
      bottom: 0;  
      right: 0; 
       background-color:rgba(0, 0, 0, 0); 
       padding: 10px; 
     
     
}
.section{
  height: 100vh;
  
}
.about{
  
  height: 100vh;                 
  background-image: url("https://wallpapercave.com/wp/wp4098414.png");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
  pointer-events: auto;
  background-attachment: fixed
  
  
  
}
.image{
  top: 20px;
  height: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;

}
.nokia{
  font-size: 20px;
  background-color:rgba(0, 0, 0, 0.4);
  
  
}

.lov iframe{
   position: absolute;
   border-radius: 20px;
  
  

}
.lite{
  width: 100%;
  height: 100vh;
  background-color: rgb(6, 30, 41);
  
  
  
}
.koko{
  text-align: center;
  color: aliceblue;
  padding: 50px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  line-height: 1.5;
  
}
h4{
  padding: 20px;
  font-family: piyush;
  font-size: 60px;


}
.koko p{
  font-size: 16px;


}
.koko i{
  font-size: 30px;
  color: #ccc;
  
  
  margin-right: 20px;
}